.simpleWrapper {
  cursor: pointer;
}

.fitContent {
  width: fit-content;
}

.containerWrapper {
  cursor: pointer;
}

.emptyChild {
  min-height: var(--p-height-800);
}

.builderMode {
  background: var(--p-color-bg-surface-success);
  border: 1px dashed var(--p-color-border-focus);
  padding: var(--p-space-400);
  margin: var(--p-space-200) var(--p-space-100);
}

.selected {
  border: 1px solid var(--p-color-border-focus);
}
