.wrapper:hover {
  border: 1px solid var(--p-color-border-focus);
}

.wrapper {
  cursor: pointer;
}

.inlineBlock {
  display: inline-block;
}

.selected {
  border: 1px solid var(--p-color-border-focus);
}
