.simpleWrapper {
  cursor: pointer;
}

.containerWrapper {
  cursor: pointer;
}

.emptyChild {
  min-height: var(--p-height-800);
}

.builderMode {
  background: var(--p-color-bg-surface-success);
  border: 0.5px dashed var(--p-color-border-focus);
  padding: var(--p-space-400);
}

.isOver {
  background: var(--p-color-bg-fill-magic);
}

.containerWrapperSelected {
  border: 0.5px solid var(--p-color-border-focus);
}

.simpleWrapperSelected > *:first-child {
  border: 0.5px solid var(--p-color-border-focus);
}
