.wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: var(--p-color-bg-inverse);
}

.preWrapper {
  padding: var(--p-space-400);
  overflow: auto;
  height: 100%;
  width: 100%;
  margin: 0;
}

.copyButtonWrapper {
  position: absolute;
  top: var(--p-space-200);
  right: var(--p-space-200);
}
