.wrapper {
  height: var(--header-height);
  overflow: hidden;
  padding: var(--p-space-400);

  background: var(--p-color-bg-inverse);
  color: var(--p-color-text-success-on-bg-fill);

  --p-color-text-link: rgb(101 168 255);
  --p-color-text-link-hover: rgb(101 168 255);
  --p-color-text-link-active: rgb(101 168 255);
}
