.wrapper {
  height: calc(100vh - var(--header-height));
  max-width: var(--left-sidebar-max-width);
  overscroll-behavior: contain;
  padding: var(--p-space-400);
  overflow: auto;
  background-color: var(--p-color-bg-surface-success);

  display: flex;
  flex-direction: column;
  gap: var(--p-space-200);
}
