.bodyWrapper {
  width: 100%;
  overflow: auto;
}

.bodyWrapperWithoutCodePanel {
  height: calc(100vh - var(--topbar-height));
}

.isOver {
  background-color: var(--p-surface-highlight);
}

.splitPanel {
  height: calc(100vh - var(--topbar-height)) !important;
}
