.bodyWrapper {
  width: 100%;
  padding: var(--p-space-400);
  overflow: auto;
}

.bodyWrapperNoCodePanel {
  height: calc(100vh - var(--header-height));
}

.isOver {
  background-color: var(--p-surface-highlight);
}
