.wrapper {
  cursor: move;
  background: var(--p-color-bg-surface-success-active);
  border-radius: var(--p-border-radius-200);
  padding: var(--p-space-200) var(--p-space-200) var(--p-space-200)
    var(--p-space-500);

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  min-width: var(--p-width-2000);
}
