:root {
  --topbar-height: 80px;
  --shopify-color: #96bf48;
}

@media (min-width: 1132px) {
  :root {
    --topbar-height: 60px;
  }
}

.Polaris-Select .Polaris-Select__SelectedOption {
  color: black;
}

#main .Polaris-Text--visuallyHidden:has(.Polaris-Listbox) {
  position: static !important;
  clip-path: none !important;
  width: auto !important;
  height: auto !important;
}
