:root {
  --header-height: 80px;

  --left-sidebar-max-width: 18rem;
  --right-sidebar-max-width: 18rem;
}

@media (min-width: 1028px) {
  :root {
    --header-height: 60px;
  }
}

.Polaris-Select .Polaris-Select__SelectedOption {
  color: black;
}
